@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');

#title1{
    text-align: center;
    color: black;
    font-size: 2em;
    font-family:serif;
}


#quote1Text {
  text-align: center;
  color: green;
  font-size: 2em;
  font-family: "Aref Ruqaa";
}
.importantWord{
   font-size: 2em;
   text-shadow: 1px 1px black;
}


#quoteName{


}

#quote2Text {
    border: 10px solid black;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    text-transform: uppercase;
}
