body {
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #000000; /* black */
  text-align: left;
  background-color:#34C1BD;
  font-family: Arial;
  max-width: 75%;
  margin:0 auto;

}

h1{
font-size: 1.7 em;
font-weight: 200;
color: #001428;
text-align: center;
}
h2{
  border: 2px solid black;
  padding: 10px;
  background-color: white;
}
